.weather{
  margin-bottom:8px;
  color:white;
  background-size:cover;
  background-position:50%;
  .main{
    background:rgba(63,81,181,0.8);//$primaryColor;
    display:flex;
    align-items: center;
    flex-direction: row;
    padding:16px;
    &.indoor{
      background:rgba(96,125,139,0.8);//$primaryColor;
    }
  }
  .title{
    font-size:20px;
  }
  .temp{
    margin-left:auto;
    text-align: right;
    display:flex;
    flex-direction: column;
    .temp_value{
      font-size:25px;
      font-weight:300;
    }
    .temp_description{
      font-weight:300;
      font-style:italic;
    }
  }
}
